body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.header{
    display: flex;
}
.material-icons{
    color: aliceblue;
    margin-top: 7px;
    max-width: 30px;
    max-height: 30px;
    transition: transform .2s ease-out;
}
.material-icons:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.yt>img{
    max-width: 140px;
    margin-top: -26px;
}
.search-bar{
    display: flex;
    height: 30px;
    margin-top: 5px;
    margin-left: 20%;
    color: white;

}
.search-bar>input{
    width: 450px;
    background-color: black;
    border-radius: 10px;
    height: 30px;
}
.search-bar>.material-icons{
    margin-left: 3%;
    gap: 20px;
}
.icons{
    display: flex;
    gap: 30px;
    margin-left: 20%;
}
.menu-channel-icon{
    border-radius: 20px;
    margin-top: 4px;
    width: 38px;
    height: 39px;
    margin-left: 45px;
}
.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b1b1b;;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .side-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #9b9999;
    display: block;
    transition: 0.3s;
  }
  
  .side-bar a:hover {
    color: #f1f1f1;
  }
  
  .side-bar>span{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;
    color: gray;
    
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .sidenav{
      color: gray;
      margin-top: 5px;
      font-size: 23px;
      margin-right: 10px;

  }
  .recents>.material-icons{
          margin-top: 18px;
          
  }
  .recents{
      gap: 10px;
      cursor: pointer;
  }
  .side-bar-col{
      display: flex;
      flex-direction: column;
      width: fit-content;
      gap: 10px;
      margin-left: 10px;
  }
  .side-bar-col>div>img{
      max-width: 150px ;
  }
  .body-yt{
      margin-left: 17%;
      margin-top: -32%;
  }
  .row-1{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      gap: 7px;
      transition: transform .2s ease-out;
  }
.body-yt>.row-1>div>img{
    height: 150px;
    width: 280px;
    

  }
  .row-1>div>.card-body{
      font-family: 'roboto','arial', sans-serif;
      font-size: 14px;
      color: aliceblue;
  }
  
  .tag-line{
      display: flex;
      gap: 10px;
      font-family: sans-serif;
      font-style: oblique;
      justify-content: center;
      margin-right: 100px;
          
  }
  .tag-line>button{
      border-radius: 23px;
      border-color: white;
      color: rgb(255, 253, 253);
      background-color: rgb(46, 46, 46);
      border-color: rgb(46, 46, 46);
      border-style: hidden;
      height: 40px;
      width: 90px;
      font-weight: bold;
      margin-top: -60px;
      margin-bottom: 40px;
      transition: transform .2s ease-out;
      
  }
  button:hover{
    transform: scale(1.2);
    cursor: pointer;

  }
  hr{
    height: 60px;
    border-left: 0ch;
    border-right: 0ch;
  }
  img:hover{
      transform: scale(1.2);
    cursor: pointer;

      
  }